@font-face {
	font-family: 'Consolas';
	src: url('../fonts/Consolas.ttf') format('truetype');
}
@font-face {
	font-family: 'Verdana';
	src: url('../fonts/Verdana.ttf') format('truetype');
}
@font-face {
	font-family: 'VerdanaBold';
	src: url('../fonts/VerdanaBold.ttf') format('truetype');
}
body{
	transition: background-color 0.3s, color 0.3s;
	overflow: hidden;
	margin: 0px;
}
.HtmlContainer{
	width: 400px;
	overflow: hidden;
	margin: 0px;
	user-select:none;
	font-size: 14px;
	font-family: 'Consolas','Fira Code','Source Code Pro','Lucida Console','Cascadia Code','Ubuntu Mono','Monospace', sans-serif;
	-webkit-app-region: drag;
	transition: background-color 0.3s, color 0.3s;
	border-radius: 5px;
}
.ContestStatus{
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
}
.ContestId{
	box-shadow: 0px 0px 5px #666;
	text-align: center;
	width: 130px;
	display: inline-block;
	border-radius: 5px;
	padding: 3px;
}
.ContestName{
	-webkit-app-region: no-drag;
	font-family: Verdana, sans-serif;
	width: 100%;
	padding-left: 5px;
	height: 54px;
	font-size: 15px;
	-webkit-line-clamp: 3;
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	text-overflow:ellipsis;
}
.ContestIdNumber{
	font-size: 28px;
}
.ProblemList{
	-webkit-app-region: no-drag;
	height: 67px;
	margin: 0 2px;
	overflow-x: scroll;
	overflow-y: none;
	white-space: nowrap;
}
.GraphFolder{
	cursor: pointer;
	-webkit-app-region: no-drag;
	width:100%;
	text-align:center;
}
.ProblemScore{
	font-size: 0.9em;
}
.ProblemResult{
	font-size: 0.9em;
}
.ProblemAccepted{
	font-family: VerdanaBold, sans-serif;
}
.ProblemWrong{
	font-family: VerdanaBold, sans-serif;
	font-weight: bold;
	color: red;
}
.ProblemUnknown{
	font-family: VerdanaBold, sans-serif;
	font-weight: bold;
	color: grey;
}
.ProblemCoding{
	font-family: Verdana, sans-serif;
	color: grey;
}
.TimeUsed{
	font-size: 12px;
}
.BlackBackground{
	background: rgba(0,0,0,0);
	transition: background 0.3s;
	position: fixed;
	top: 0;
	left: 0;
	border-radius: 5px;
	z-index: 2;
}
.AllWindow{
	position: absolute;
	width: 100%;
	height: 100%;
	display:none;
}
.AlertWindow{
	border-radius: 3px;
	-webkit-app-region: no-drag;
	position:fixed;
	transform:translate(-50%, -50%);
	z-index:3;
	width: 350px;
	padding: 5px;
	font-size: 16px;
	pointer-events: auto;
	overflow-y: scroll;
}
.SubmlissionsList{
	width: 350px;
	min-width: 350px;
	max-width: 350px;
	margin: 0 auto;
	font-family: Consolas, sans-serif;
	font-size: 13px;
}
.SubmlissionsList > tr > td{
	padding: 5px;
}
.EventList{
	width: 350px;
	min-width: 350px;
	max-width: 350px;
	margin: 0 auto;
	font-family: Consolas, sans-serif;
	font-size: 13px;
}
.EventList > tr > td{
	padding: 5px;
}
.ContestInfoList{
	width: 350px;
	min-width: 350px;
	max-width: 350px;
	margin: 0 auto;
	font-family: Consolas, sans-serif;
	font-size: 13px;
}
.ContestInfoList > tr > td{
	padding: 5px;
}
hr{
	display: block;
	margin: 2px;
	height: 1px;
	border: 0px;
}
.CurrentRatingDescription{
	padding: 3px;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}
.RatingGraphDescription{
	padding: 3px;
}
.ContestRatingTd{
	text-align: right;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}
.ContestRatingChanges{
	margin: 8px;
	float: right;
	font-size: 14px;
}
.SmallRatingChanges{
	font-size: 14px;
}
#highchatrsContainer{
	-webkit-app-region: no-drag;
	vertical-align: center;
	height: 175px;
	max-height: 175px;
	min-height: 0px;
}
.ConnectionStatus{
	margin-left: 2px;
	text-align: left;
}
.UserType{
	transition: width 0.3s, max-width 0.3s;
	float: left;
	margin: 1px;
	padding: 2px;
	border-radius: 3px;
	max-width: 200px;
	overflow: hidden;
}
.ContestType{
	text-align: center;
	display: inline-block;
	width: 50px;
	height: 1em;
	line-height: 1;
}
.ToolList{
	float: right;
	margin-right: 2px;
	height: 24px;
}
.AdvancedToolList{
	margin: 0px;
	padding: 0px;
	border: 0px;
	transition: width 0.3s;
	vertical-align:top;
	display: inline-block;
	overflow: scroll;
}
button{
	font-family: Verdana;
	-webkit-app-region: no-drag;
	text-align: center;
	outline: 0px;
	height: 24px;
	width: 24px;
	cursor: pointer;
	border-radius: 12px;
	padding: 0px;
	border: 0px;
	transition: background 0.3s;
}
button.mixed{
	width: 110px;
	padding: 0px 10px;
}
button.mixed > span{
	padding-right: 1px;
}
input{
	-webkit-app-region: no-drag;
	transition: 0.3s;
    padding: 5px;
    font-size: 14px;
    font-family: 'Consolas','Fira Code','Source Code Pro','Lucida Console','Cascadia Code','Ubuntu Mono','Monospace', sans-serif;
    height: 22px;
    outline: none;
    border: 0px;
    width: 220px;
}
.united{
	padding: 5px 10px;
	position:relative;
	width: calc(100% - 20px);
	display:inline-block;
	font-family: Verdana;
	font-size: 16px;

}
.united > span{
	display: inline-block;
	width: 150px;
}
.united > span > span:nth-child(1){
	padding-right: 7px;
}
.active:after {
	width:calc(100% - 2px)
}
select{
	-webkit-app-region: no-drag;
	transition: background 0.3s;
	font-size: 14px;
	font-family: 'Consolas','Fira Code','Source Code Pro','Lucida Console','Cascadia Code','Ubuntu Mono','Monospace', sans-serif;
    border: none;
    outline: none;
    width: calc(100% - 20px);
    margin: 3px 10px;
    height: 22px;
    padding: 3px;
}
a{
	color: inherit;
}
.OpenAdvancedButton{
	transition: 0.3s;
}
.SmallContestName, .SmallTime{
	float: left;
}
.SmallUsername{
	float: right;
}
.SmallRank{
	float: right;
	font-size: 32px;
}
.SmallRankInfo{
	height: 52px;
	border-radius: 3px;
	margin: 3px;
	padding: 3px;
}
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    border-radius: 1px;
}
::-webkit-scrollbar-corner{
    display: none;
}
::-webkit-scrollbar-corner{
    display: none;
}
.ContestProgress{
	position: relative;
	width: 100px;
	height: 100px;
}
.BarContent{
	-webkit-app-region: no-drag;
	display: flex;
	flex-direction: row;
	height: 30px;
}
.OneBar{
	cursor: pointer;
	transition: background 0.4s;
	display: inline-flex;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 7px 14px;
	font-size: 16px;
}
.OneBar span{
	display: none;
	opacity: 0;
	text-align: center;
	font-family: Verdana,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
}
.OneBar.ChosenBar span{
	display: inline-block !important;
	text-align: center;
	display: inline-block;
	flex: 1;
	opacity: 1;
}
.OneBar.ChosenBar{
	cursor: auto;
	flex: 1;
}
.InfoContent{
	height: 225px;
	overflow: auto;
}
.StatusBar{
	-webkit-app-region: drag;
	position: relative;
	width: calc(100% - 20px);
	height: 18px;
	padding: 4px 10px;
}
.ProblemSubmissionFolder{
	margin: 5px 10px;
	border-radius: 5px;
}
.ProblemSubmissionIntro, .ProblemSubmission{
	font-family: Verdana, sans-serif;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	padding: 0px 5px;
	border-radius: 5px;
	margin: 5px 0px;
}
.ProblemSubmission{
	margin-left: 15px;
	width: calc(100% - 25px);
}
.ProblemSubmission{
	transition: 0.2s;
	padding: 3px 5px;
}
.ProblemSubmissionIntro>div, .ProblemSubmission>span{
	padding: 3px 5px;
}
.ProblemSubmissionIntro>div:nth-child(1){
	min-width: 40px;
	text-align: center;
}
.ProblemSubmissionIntro>div:nth-child(2){
	flex: 1;
	text-align: center;
	cursor: pointer;
}
.ProblemSubmissionIntro>div:nth-child(3){
	min-width: 40px;
	text-align: center;
	cursor: pointer;
}
.ProblemSubmissionIntro>div:nth-child(4){
	min-width: 50px;
	text-align: center;
}
.ProblemSubmission>span{
	display: block;
}
.ProblemSubmission>span:nth-child(1){
	min-width: 40px;
	text-align: center;
}
.ProblemSubmission>span:nth-child(2){
	flex: 1;
	text-align: center;
	cursor: pointer;
}
.ProblemSubmission>span:nth-child(3){
	min-width: 40px;
	text-align: center;
}
.ProblemSubmission>span:nth-child(4){
	min-width: 50px;
	text-align: center;
}
.RefreshVirtualButton{
	width: 80px !important;
	transition: 0.2s;
	overflow: hidden;
	height: 24px;
}


.ContestProgress .wrap,
.ContestProgress .circle,
.ContestProgress .percent {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.ContestProgress .circle {
    box-sizing: border-box;
    clip: rect(0, 100px, 100px, 50px);
}
 
.ContestProgress .clip-auto {
    clip: rect(auto, auto, auto, auto);
}
 
.ContestProgress .percent {
    box-sizing: border-box;
    top: -8px;
    left: -8px;
}
 
.ContestProgress .left {
    transition: transform ease;
    clip: rect(0, 50px, 100px, 0);
}
 
.ContestProgress .right {
    clip: rect(0, 100px, 100px, 50px);
}
 
.ContestProgress .nothing {
    width: 0;
}
 
.ContestProgress .ContestStatus {
    z-index: 1;
    position: absolute;
    left: 8px;
    top: 8px;
    width: 84px;
    height: 84px;
    text-align: center;
    border-radius: 50%;
    box-sizing: border-box;
}
.ContestProgress .ContestStatus div{
	display: inline;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.ContestProgress .ContestStatus div i{
	font-size: 20px;
}
.ContestProgress .marker{
	border-radius: 50%;
	height: 8px;
	width: 8px;
	position: absolute;
	top: 0;
	left: 46px;
}
.ContestProgress .marker.end{
	transform-origin: 50% 50px;
}

.OverviewSplit{
	display: flex;
	flex-direction: column;
	padding: 5px;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
}

.OverviewSplit > div{
	margin: 5px;
}
.ContestAllInfoDisplayer{
	font-size: 15px;
	vertical-align: top;
	font-family: Verdana, sans-serif;
}
.ContestAllInfoDisplayer > span{
	display: inline-block;
	font-size: 15px;
	width: 20px;
	padding: 2px;
}
.ContestAllInfoDisplayer > div{
	display: inline-block;
}
.UserHandleDisplayer{
	font-weight: bold;
}
.ContestNameDisplayer{
	-webkit-app-region: no-drag;
	width: calc(100% - 24px);
	height: 35px;
	-webkit-line-clamp: 2;
	display: -webkit-inline-box !important;
	overflow: hidden;
	-webkit-box-orient: vertical;
	text-overflow:ellipsis;
}

.AllProblemList{
	display: inline-block;
	overflow-x: scroll;
	white-space: nowrap;
}

.ContestAllInfoDisplayer>:nth-child(4){
	transform:  translate(0px, -20px);
}
.OtherInfoContainer{
	font-family: Verdana;
}
.SingleProblemInfo{
	height: calc(100% - 12px);
	min-width: 50px;
	padding: 3px;
	position: relative;
	display: inline-block;
	text-align: center;
	-webkit-app-region: no-drag;
	border-radius: 5px;
	margin: 0px 3px;
}
.OverviewInfoContainer{
	height: 100%;
}