@font-face {
	font-family: 'Consolas';
	src: url('../fonts/consolas.ttf');
}
@font-face {
	font-family: 'Verdana';
	src: url('../fonts/Verdana.ttf');
}
@font-face {
	font-family: 'VerdanaBold';
	src: url('../fonts/VerdanaBold.ttf');
}
body{
	margin: 0px;
	user-select:none;
	font-size: 14px;
	font-family: Consolas;
	-webkit-app-region: drag;
	transition: background-color 0.3s, color 0.3s;
}
.ContestStatus{
	font-family: Verdana;
	font-size: 16px;
	height: 16px;
	text-align: center;
}
.ContestId{
	text-align: center;
	width: 130px;
	display: inline-block;
	border-radius: 5px;
	padding: 3px;
}
.ContestName{
	font-family: Verdana;
	width: 100%;
	padding-left: 5px;
	height: 54px;
	font-size: 15px;
	-webkit-line-clamp: 3;
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	text-overflow:ellipsis;
}
.ContestIdNumber{
	font-size: 28px;
}
.ProblemList{
	-webkit-app-region: no-drag;
	height: 67px;
	overflow-x: scroll;
	overflow-y: none;
	white-space: nowrap;
}
.GraphFolder{
	cursor: pointer;
	-webkit-app-region: no-drag;
	width:100%;
	text-align:center;
}
.SingleProblem{
	font-family: Verdana;
	text-align: center;
	position: relative;
	min-width: 60px;
	height: 55px;
	border-radius: 5px;
	margin: 0px 3px;
	display: inline-block;
}
.BackgroundPic{
	font-family: Consolas;
	z-index: -1;
	position:absolute;
    left:calc(50% - 30px);
    top:0px;
    width: 60px;
    height: 55px;
    font-size: 50px;
    text-align: center;
}
.ProblemScore{
	font-size: 0.9em;
}
.ProblemResult{
	font-size: 0.9em;
}
.ProblemAccepted{
	font-family: VerdanaBold;
	color: #0a0;
}
.ProblemWrong{
	font-family: VerdanaBold;
	font-weight: bold;
	color: red;
}
.ProblemUnknown{
	font-family: VerdanaBold;
	font-weight: bold;
	color: grey;
}
.ProblemCoding{
	color: grey;
}
.TimeUsed{
	font-size: 12px;
}
hr{
	display: block;
	margin: 2px;
	height: 1px;
	border: 0px;
}
.CurrentRatingDescription{
	padding: 3px;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}
.RatingGraphDescription{
	padding: 3px;
}
.CurrentRating{
	font-size: 44px;
	text-align: right;
	width: 100%;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}
#highchatrsContainer{
	-webkit-app-region: no-drag;
	vertical-align: center;
	height: 220px;
	max-height: 220px;
	min-height: 0px;
}
.ConnectionStatus{
	margin-left: 2px;
}
.UserType{
	float: left;
	margin: 1px;
	padding: 2px;
	border-radius: 3px;
}
.ContestType{
	text-align: center;
	display: inline-block;
	width: 60px;
	margin: 1px;
	padding: 2px;
	border-radius: 3px;
	height: 18.4px;
}
.ToolList{
	float: right;
	margin-right: 2px;
}
button{
	-webkit-app-region: no-drag;
	text-align: center;
	outline: 0px;
	height: 24px;
	width: 24px;
	cursor: pointer;
	border-radius: 12px;
	padding: 0px;
	border: 0px;
	transition: background 0.3s;
}
input{
	-webkit-app-region: no-drag;
	transition: background 0.3s;
    border-radius: 4px;
    padding: 3px;
    font-size: 14px;
    font-family: Consolas;
    height: 22px;
    width: 100%;
}
.ContestIDInput{
	width: calc(100% - 66px);
	display: inline-block;
}
select{
	-webkit-app-region: no-drag;
	transition: background 0.3s;
	font-size: 14px;
	font-family: Consolas;
    border: none;
    outline: none;
    width: 100%;
    height: 22px;
}
.SmallContestName, .SmallTime{
	float: left;
}
.SmallUsername{
	float: right;
}
.SmallRank{
	float: right;
	font-size: 32px;
}
.SmallRankInfo{
	height: 52px;
	border-radius: 3px;
	margin: 3px;
	padding: 3px;
}
.ProblemList::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
.ProblemList::-webkit-scrollbar-thumb{
    border-radius: 1px;
}
.ProblemList::-webkit-scrollbar-corner{
    display: none;
}
.ProblemList::-webkit-scrollbar{
	transition: background-color 0.3s;
    width: 5px;
    height: 5px;
}
.ProblemList::-webkit-scrollbar-thumb{
    border-radius: 1px;
}
.ProblemList::-webkit-scrollbar-corner{
    display: none;
}