body{
	color: #fff;
}
.HtmlContainer{
	background: #222;
}
.ContestId{
	background-color: #444;
}
.ContestName{
	border-left: 2px solid #444;
}
.BackgroundPic{
    color: #777;
}
.ProblemAccepted{
	color: #1cff1c;
}
.ProblemWrong{
	color: #ff4343;
}
.ProblemCoding{
	color: #a4a4a4;
}
hr{
	background-color: #fff;
}
.SingleProblem{
	border: 1px solid #fff;
}
.RatingGraphDescriptionTd, .GraphFolder{
	background: #383839;
}
#highchatrsContainer{
	background: #383839;
	color: #fff;
}
.CurrentRatingDescription{
	background-color: #444;
}
.ContestRatingTd{
	background-color: #444;
}
.UserType, .ContestType{
	background: #777;
	color: #000;
}
.AlertWindow{
	background: #666;
}
.ContestDuration{
	border-bottom: 2px solid #fff;
}
.SubmlissionsList > tr > td,
.EventList > tr > td{
	border: 1px solid white;
}
.ContestInfoList > tbody > tr > td:last-child{
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
button{
	background: #444;
	color: #fff;
}
button:hover{
	background: #666;
}
input{
	background: #222;
	color: #fff;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
select{
	background: #222;
	color: #fff;
}
select:hover{
	background: #333;
}
select[disabled='disabled']{
	background: #444;
	color: white;
}
select[disabled='disabled']:hover{
	background: #666;
}
input[readonly='readonly']{
	background: #444;
}
.style_warning{
    color: #d2713a;
}
.style_error{
    color :#e7483f;
}
.style_accept{
    color: #20901c;
}
.style_pending{
    color: grey;
}
.SmallRankInfo{
	background: rgba(204,204,204,0.5);
	color: #fff;
}

.ProblemList::-webkit-scrollbar-thumb,
.AlertWindow::-webkit-scrollbar-thumb{
	background-color: #777;
}
.ProblemList::-webkit-scrollbar:hover,
.AlertWindow::-webkit-scrollbar:hover{
    background-color: #444;
}