body{
	color: #fff;
}
.HtmlContainer{
	background: #222;
}
.ContestId{
	background-color: #444;
}
.ContestName{
	border-left: 2px solid #444;
}
.BackgroundPic{
    color: #777;
}
.ProblemAccepted{
	color: #1cff1c;
}
.ProblemWrong{
	color: #ff4343;
}
.ProblemCoding{
	color: #a4a4a4;
}
hr{
	background-color: #fff;
}
.SingleProblemInfo{
	border: 1px solid #fff;
}
.ProblemSubmissionIntro{
	background: #666;
}
.ProblemSubmission{
	background: #555;
}
.ProblemSubmission:hover{
	background: #666;
}
.RatingGraphDescriptionTd, .GraphFolder{
	background: #383839;
}
#highchatrsContainer{
	background: #383839;
	color: #fff;
}
.CurrentRatingDescription{
	background-color: #444;
}
.ContestRatingTd{
	background-color: #444;
}
.UserType{
	background: #777;
	color: #000;
}
.AlertWindow{
	background: #666;
}
.ContestDuration{
	border-bottom: 2px solid #fff;
}
.SubmlissionsList > tr > td,
.EventList > tr > td{
	border: 1px solid white;
}
.ContestInfoList > tbody > tr > td:last-child{
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
button{
	background: #444;
	color: #fff;
}
button:hover{
	background: #666;
}
button[disabled]{
	background: #333;
	color: grey;
}
input{
	background: #222;
	color: #fff;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
select{
	background: #222;
	color: #fff;
}
select:hover{
	background: #333;
}
select[disabled='disabled']{
	background: #444;
	color: white;
}
select[disabled='disabled']:hover{
	background: #666;
}
input[readonly='readonly']{
	background: #444;
}
.style_warning{
    color: #d2713a;
}
.style_error{
    color :#e7483f;
}
.style_accept{
    color: #1cff1c;
}
.style_pending{
    color: grey;
}
.SmallRankInfo{
	background: rgba(204,204,204,0.5);
	color: #fff;
}

::-webkit-scrollbar-thumb{
	background-color: #777;
}
::-webkit-scrollbar:hover{
    background-color: #444;
}
input{
	border: 1px solid #444;
}
input:hover{
	border: 1px solid #777;
}
input:focus{
	border: 1px solid #ccc;
}
.OneBar{
	background: #555;
	color: white;
}
.OneBar:hover{
	background: #444;
}
.OneBar.ChosenBar{
	background: transparent;
}
.StatusBar{
	background: #555;
}
.checkButton{
	color: #1cff1c;
	transition: 0.2s;
}
.checkButton:hover{
	background-color: #20901c;
	color: white;
}
.ContestProgress .left,
.ContestProgress .right{
	border: 8px solid #222;
}
.ContestProgress .marker{
	background: #222;
}
.ContestProgress .ContestStatus{
	background: #222;
}
.ContestProgress .wrap{
	background: #777;
}
.ContestProgress .circle{
	border: 8px solid #777;
}
.LGM:first-letter{
	color: white;
}