body{
	color: #000;
}
.HtmlContainer{
	background: #fff;
}
.ContestId{
	background-color: #ccc;
}
.ContestName{
	border-left: 2px solid #ccc;
}
.BackgroundPic{
    color: #ccc;
}
.ProblemAccepted{
	color: #0a0;
}
.ProblemWrong{
	color: red;
}
.ProblemCoding{
	color: grey;
}
hr{
	background-color: #000;
}
.SingleProblemInfo {
    border: 1px solid rgba(0,0,0,0);
}
.ProblemSubmissionIntro{
	background: #ccc;
}
.ProblemSubmission{
	background: #ddd;
}
.ProblemSubmission:hover{
	background: #ccc;
}
.RatingGraphDescriptionTd, .GraphFolder{
	background: #fff;
}
#highchatrsContainer{
	background: #fff;
	color: #000;
}
.CurrentRatingDescription{
	background-color: #ccc;
}
.ContestRatingTd{
	background-color: #ccc;
}
.UserType{
	background: #777;
	color: #fff;
}
.AlertWindow{
	background: #fff;
}
.ContestDuration{
	border-bottom: 2px solid #000;
}
.SubmlissionsList > tr > td,
.EventList > tr > td{
	border: 1px solid black;
}
.ContestInfoList > tbody > tr > td:last-child{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
button{
	background: #ccc;
	color: #000;
}
button:hover{
	background: #aaa;
}
button[disabled]{
	background: #aaa;
}
input{
	background: #fff;
	color: #000;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
select{
	background: #fff;
	color: #000;
}
select:hover{
	background: #eee;
}
select[disabled='disabled']{
	background: #ccc;
	color: black;
}
select[disabled='disabled']:hover{
	background: #aaa;
}
input[readonly='readonly']{
	background: #ccc;
}
.style_warning{
    color: #d2713a;
}
.style_error{
    color :#e7483f;
}
.style_accept{
    color: #20901c;
}
.style_pending{
    color: grey;
}
.SmallRankInfo{
	background: rgba(68,68,68,0.5);
	color: #000;
}

::-webkit-scrollbar-thumb{
	background-color: #888;
}
::-webkit-scrollbar:hover{
    background-color: #ccc;
}
input{
	border: 1px solid #ccc;
}
input:hover{
	border: 1px solid #777;
}
input:focus{
	border: 1px solid #333;
}
.OneBar{
	background: #ccc;
	color: black;
}
.OneBar:hover{
	background: white;
}
.OneBar.ChosenBar{
	background: transparent;
}
.StatusBar{
	background: #ccc;
}
.checkButton{
	color: #20901c;
	transition: 0.2s;
}
.checkButton:hover{
	background-color: #20901c;
	color: white;
}
.ContestProgress .left,
.ContestProgress .right{
	border: 8px solid #ccc;
}
.ContestProgress .marker{
	background: #ccc;
}
.ContestProgress .ContestStatus{
	background: #fff;
}
.ContestProgress .wrap{
	background: #ccc;
}
.ContestProgress .circle{
	border: 8px solid #ccc;
}
.LGM:first-letter{
	color: black;
}